body {
	background: linear-gradient(#1960d3, #09347a);
	background-repeat: no-repeat;
	background-attachment: fixed;
}

head {
	display: center;
	justify-content: center;
}

#sec {
	color: white;
}

#secpad {
	color: white;
}

#title {
	font-family: 'Inconsolata', sans-serif;
	color: white;
	font-size: 75pt;
}
