html, body {
	margin: 0;
	padding: 0;
	height: 100%;
        background: linear-gradient(#1960d3, #09347a);
        background-repeat: no-repeat;
        background-attachment: fixed;
}

#heading {
	color: white;
	font-family: Inconsolata;
}

#subheader {
	color: #000080;
	font-family: Inconsolata;
	font-size: 3vw;
}

#headingContainer {
	height: 30vw;
	font-size: 8vw;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.button {
	height: 20%;
	width: 30%;
	display: flex;
	font-family: Inconsolata;
	font-size: 60%;
	text-align: center;
	vertical-align: middle;
	justify-content: center;
	align-items: center;
	color: white;
	background-color: #1960d3;
	border-radius: 7px;
}

#selectionBox {
	width: 50vw;
	height: 30vh;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
	background-color: white;
	border-radius: 15px;
}

#selectionBoxContainer {
	display: flex;
	justify-content: center;
}



.shareRecoverHeader {
	font-size: 20vw;
	color: white;
	opacity: 0.5;
	font-family: Inconsolata;
}

.shareRecoverHeaderContainer {
	display: flex;
	justify-content: center;
	height: 100%;
}

#shareNumInput {
	width: 50vw;
	height: 5vh;
	text-align: center;
	font-size: 60%;
	border-radius: 10px;
}

#threshold {
	width: 50vw;
	height: 5vh;
	text-align: center;
	font-size: 60%;
	border-radius: 10px;
	margin-top: 2%;
}

#secretsub {
	width: 50vw;
	height: 20vh;
	text-align: center;
	font-size: 60%;
	border-radius: 10px;
	margin-top: 2%;
}

#secretsubContainer {
	display: flex;
	width: 100vw;
	height: 30%;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}



#shareQuery {
	display: flex;
	font-family: Inconsolata;
	font-size: 45px;
	color: #add8e6;
	justify-content: center;
}

#shareQueryContainer {
	display: flex;
	width: 100vw;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

#share-output {
	padding: 0;
	margin: 0;
	display: flex;
	height: 30vh;
	text-align: center;
	align-items: center;
	justify-content: center;
	color: white;
	flex-grow: 1;
}

#shareNum {
	padding: 2px;
}

.field {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 2px;
}

#fieldContainer {
	display: flex;
	flex-direction: column;
	text-align: center;
	justify-content: center;
	align-items: center;
	flex-grow: 1;
}

#recoverButtonWrapper {
	display: flex;
	justify-content: center;
	align-items: center;
}

#output {
	display: flex;
	justify-content: center;
	align-items: center;
	color: white;
}
