html, body {
	margin: 0;
	padding: 0;
	height: 100%;
        background: linear-gradient(#1960d3, #09347a);
        background-repeat: no-repeat;
        background-attachment: fixed;
}

#headingWrap {
        width: 100%;
        height: 100vh;
        color: white;
        display: flex;
        justify-content: center;
        flex-direction: row;
	text-align: center;
        font-family: Inconsolata;
        align-items: middle;
}

.headings {
	
}

#subheader {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 30vh;
	color: #000080;
	font-family: Inconsolata;
	font-size: 4vw;
}

#headingContainer {
	height: 30vh;
	font-size: 12vw;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.button {
	height: 20%;
	width: 40%;
	display: flex;
	font-family: Inconsolata;
	font-size: 100%;
	text-align: center;
	vertical-align: middle;
	justify-content: center;
	align-items: center;
	color: white;
	background-color: #1960d3;
	border-radius: 50px;
}


#selectionBox {
	width: 70vw;
	height: 50vh;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
	background-color: white;
	border-radius: 15px;
}

@media screen and (max-width: 770px) {
#selectionBox {
	width: 70%;
	height: 70%;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
	background-color: white;
	border-radius: 15px;
}

#headingWrap {
        width: 100%;
        height: 100vh;
        color: white;
        display: flex;
        justify-content: center;
        flex-direction: column;
        font-family: Inconsolata;
	font-size: 135%;
        align-items: middle;
}

#subheader {
        display: flex;
        justify-content: center;
        align-items: space-between;
        width: 100%;
        height: 20vh;
        color: #000080;
        font-family: Inconsolata;
        font-size: 4vw;
}

}

@media screen and (max-height: 299px) {
	#headingWrap {
		font-size: 100%;
		display: flex;
		flex-direction: row;
	}	
}

#selectionBoxContainer {
	display: flex;
	justify-content: center;
	height: 60vh;
	align-items: center;
}


.shareRecoverHeader {
	font-size: 20vw;
	color: white;
	opacity: 0.5;
	height: 100%;
	font-family: Inconsolata;
}

.shareRecoverHeaderContainer {
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	height: 60vh;
}

#shareHeaderContainer {
	height: 100vh;
}

#shareNumInput {
	width: 50vw;
	height: 5vh;
	text-align: center;
	font-size: 60%;
	border-radius: 10px;
	margin-bottom: 1%;
}

#threshold {
	width: 50vw;
	height: 5vh;
	text-align: center;
	font-size: 60%;
	border-radius: 10px;
	margin-bottom: 1%;
}

#secretsub {
	width: 50vw;
	display: flex;
	height: 30vh;
	text-align: center;
	font-size: 100%;
	border-radius: 15px;
}

#secretsubContainer {
	display: flex;
	width: 100vw;
	height: 30%;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}



#shareQuery {
	display: flex;
	font-family: Inconsolata;
	font-size: 4vw;
	color: #add8e6;
	justify-content: center;
}

#shareQueryContainer {
	display: flex;
	width: 100vw;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

#share-output {
	padding: 0;
	margin: 0;
	display: flex;
	height: 30vh;
	width: 50%;
	text-align: center;
	flex-wrap: wrap;
	justify-content: space-evenly;
	vertical-align: middle;
	font-size: 100%;
	color: #add8e6;
}

#share-outputContainer {
	align-content: flex-start;
	display: flex;
	width: 100vw;
	justify-content: center;
}

textarea {
	display: inline-block;
	vertical-align: middle;
	text-align: center;
}

.shareBox {
	resize: none;
	margin-top: 50%;
	text-align: center;
	font-family: Inconsolata;
	font-size: 75%;
	border-radius: 10px;
}

.shareBoxContainer {
        display: inline-block;
        vertical-align: middle;
        text-align: center;
}

.shareInputHelper {
	display: flex;
	justify-content: flex-start;
	color: #add8e6;
	font-family: Inconsolata;
}

#shareNum {
	padding: 2px;
}

.field {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 2px;
}

#fieldContainer {
	display: flex;
	flex-direction: column;
	text-align: center;
	justify-content: center;
	align-items: center;
	flex-grow: 1;
	position: relative;
}

#recoverButton {
	background-color: #add8e6;
	width: 20vw;
	border-style: none;
	height: 6vh;
	border-radius: 50px;
	font-size: 75%;
	color: white;
	margin-top: 3%;

	animation-name: scroll;
	animation-duration: 1s;
	animation-fill-mode: forwards;
}

#recoverButton:hover {
	color: #09347a;
}

.scrollUpHidden {
	display: hidden;
}

.scrollUp {
	display: flex;
	animation-name: scrollUp;
	animation-duration: 1s;
	animation-fill-mode: forwards;
}

.scrollDown {
	animation-name: scrollDown;
	animation-duration: 1s;
	animation-fill-mode: forwards;
}

@keyframes scrollUp {
	from { top: 100%; }
	to { top: 5%; }
}

@keyframes scrollDown {
	from { top: 0%; }
	to { top: 100%; }
}

#recoverButtonWrapper {
	display: flex;
	justify-content: center;
	align-items: center;
}

.showOutput {
	display: none;
}

.glyphicons {
	color: black;
}

#output {
	display: flex;
	justify-content: center;
	align-items: center;
	color: black;
	background-color: white;
	height: 90vh;
	width: 90vw;
	flex: 1;
	position: absolute;
	border-radius: 15px;
}

#outContainer {
	display: flex;
	justify-content: center;
}

#present {
	height: 10vh;
	width: 60vw;
	font-size: 100%;
	font-family: Inconsolata;
	text-align: center;
	color: #09347a;
}

#presentedContainer {
	height: 70vh;
	display: flex;
	flex-direction: column;
	vertical-align: center;
	justify-content: center;
}

#presentedSecret {
	height: 10vh;
	width: 60vw;
	font-size: 100%;
	font-family: Inconsolata;
	text-align: center;
}

.close {
  position: absolute;
  right: 32px;
  top: 32px;
  width: 32px;
  height: 32px;
  opacity: 0.3;
}
.close:hover {
  opacity: 1;
}
.close:before, .close:after {
  position: absolute;
  left: 15px;
  content: ' ';
  height: 33px;
  width: 2px;
  background-color: #333;
}
.close:before {
  transform: rotate(45deg);
}
.close:after {
  transform: rotate(-45deg);
}
